* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* 禁止文字被选中 */
    -moz-user-select:none;      /*火狐*/
    -webkit-user-select:none;   /*webkit浏览器*/
    -ms-user-select:none;       /*IE10*/
    -khtml-user-select:none;    /*早期浏览器*/
    user-select:none;

    background-color: rgb(122, 21, 96);
}

.awesome-calendar {
    --button-width: 165px;
    --button-height: 165px;

    display: grid;
    grid-template-areas: 
    "header"
    "weeks"
    "days";
    grid-template-rows:repeat(3, auto);
    align-items: center;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.1);
    padding: 24px;
    border-radius: 20px;
    font-size: 20px;
}

/* ========= header =========== */
.header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
}
.header h1 {
    font-size: 30px;
}
.header .nev {
    --nev-width: 50px;
    --nev-height: 50px;
    width: var(--nev-width);
    height: var(--nev-height);
    line-height: var(--nev-height);
    border-radius: calc(var(--nev-height) / 2);

    display: inline-block;

    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.6);
    transition: 0.8s cubic-bezier(0.2,0.8,0.2,1);
}
.header .nev:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
}
.header .left-part {
    justify-self: flex-start;
}
.header .right-part {
    justify-self: flex-end;
}

/* ========= weeks =========== */
.weeks {
    display: grid;
    grid-template-areas: "Monday Tuesday Wednesday Thursday Friday Saturday Sunday";
    grid-template-columns: repeat(7, var(--button-width));
    align-items: center;
}

.week {
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

/* ========= days =========== */
.days {
    display: grid;
    grid-template-areas: 
    "day-1   day-2   day-3   day-4   day-5   day-6   day-7"
    "day-8   day-9   day-10  day-11  day-12  day-13  day-14"
    "day-15  day-16  day-17  day-18  day-19  day-20  day-21"
    "day-22  day-23  day-24  day-25  day-26  day-27  day-28"
    "day-29  day-30  day-31  day-32  day-33  day-34  day-35"
    "day-36  day-37  day-38  day-39  day-40  day-41  day-42";

    grid-template-rows: repeat(6, var(--button-height));
    grid-template-columns: repeat(7, var(--button-width));
    align-items: center;
    justify-items: center;
}

.day-group {
    --rotate-deg: 100deg;
    position: relative;
    height: var(--button-height);
    width: var(--button-width);
    line-height: var(--button-height);
    transform: translateZ(0);
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.day-group:hover {
    cursor: pointer;
}

/******** outside ************/
.day-group .day-outside .day-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 105%;
    background: rgba(0, 0, 0, 0.15);

    transform-origin: center top;
    transition: 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.day-group:hover .day-outside .day-shadow {
    transform: rotateX(86deg);
}

.day-group .day-outside .day-paper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    transform-origin: center top;
    transform-style: preserve-3d;

    /**/
    transform: rotate(0.32deg);

    perspective: 1000px;
}
.day-group .day-outside .day-paper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    transform-origin: center top;
    transform: translateY(-100%);
    width: 124px;
    height: 13px;

    margin: 0 auto;
    background: rgba(239, 239, 239, 0.8);
    transition: 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.day-group .day-outside .day-paper .day-paper-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00aa75;
    transform-origin: center top;
    transform-style: preserve-3d;
    z-index: 2;
    transition: 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.day-group:hover .day-outside .day-paper .day-paper-bg {
    transform: rotateX(var(--rotate-deg)) translate3d(0, 0, 0);
}
.day-group .day-outside .day-paper .day-paper-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform-origin: center top;
    transform: rotateZ(0);
    width: 124px;
    height: 13px;
    margin: 0 auto;
    background: rgba(239, 239, 239, 0.8);
    backface-visibility: hidden;
}

.day-group .day-outside .cover-content-container {
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1000;
    width: 100%;
    height: 100%;
}

.day-group .day-outside .cover-content {
    transform-origin: center top;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.day-group:hover .day-outside .cover-content {
    transform: rotateX(var(--rotate-deg)) translate3d(0, 0, 0);
    backface-visibility: hidden;
}


/******** inside ************/
.day-group .day-inside {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}

.day-group .day-inside div {
    display: block;
    min-height: 48px;
    width: 100%;
    color: white;
    font-size: 22px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.day-group .day-inside button {
    width: 40%;
    height: calc(var(--button-height) * 0.2);
}

/* ========= Adaotive =========== */
/* Adapt for iPhone */
@media screen and (max-width:600px) {
    
}

/* Adapt for iPad */
@media screen and (min-width:600px) and (max-width:1200px) {

}